@import "tokens/theme-tokens";

.header {

  position: relative;

  &:after {

    content: '';
    background-color: $gray-400;
    width: 90%;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}
