$spacer-theme: .5rem;

$dodger-blue: #07B0FB;
$mandy: #E54E4E;
$mantis: #69C669;
$wild-sand: #F4F4F4;
$alto: #D9D9D9;
$mercury: #E5E5E5;

$primary: $dodger-blue;
$light: $wild-sand;
$danger: $mandy;
$success: $mantis;

$gray-300: $mercury;
$gray-400: $alto;
$gray-700: #333333;
//$gray-900: #262626

// Transitions
$transition: 300ms;
