<ng-container *ngIf="(lastDaysExchangePayload$ | async) as lastDaysExchangesPayload">
  <ng-container *ngIf="!!lastDaysExchangesPayload.data; else feedbackTemplate">
    <div class="accordion"
         id="accordionLastDayExchange">
      <div class="accordion-item">
        <h2 class="accordion-header"
            id="collapseHeading">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseLastDayExchange"
                  aria-expanded="false"
                  aria-controls="collapseLastDayExchange">
            last 30 days
          </button>
        </h2>
        <div id="collapseLastDayExchange"
             class="accordion-collapse collapse"
             aria-labelledby="collapseHeading"
             data-bs-parent="#accordionLastDayExchange">
          <div class="accordion-body">
            <div class="row">
              <ng-container
                *ngFor="let latestExchangeData of lastDaysExchangesPayload.data; let last = last; let index = index">
                <ng-container *ngIf="index > 0 && index <= 30">
                  <div class="col-lg-4">
                    <app-card-last-exchange [lastExchangePayload]="latestExchangeData"
                                            [previouslyCloseDiffValue]="lastDaysExchangesPayload.data[index - 1].close"
                                            [class]="last ? '' : 'mb-1'"></app-card-last-exchange>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #feedbackTemplate>
    <ng-container *ngIf="(hasError$ | async);">
      <div class="alert alert-danger"
           role="alert">
        Ops, não conseguimos obter os dados dos últimos 30 dias.
        <span class="fw-bold">
          Por favor, tente novamente!
        </span>
      </div>
    </ng-container>
  </ng-template>
</ng-container>
